<div class="col-sm-8 offset-sm-2">
  <form method="POST">
    <legend>Reset Password</legend>
    <hr><input type="hidden" name="_csrf" value="{{_csrf}}">
    <div class="form-group"><label for="password" class="col-form-label font-weight-bold">New Password</label><input type="password" name="password" id="password" placeholder="New password" autofocus required class="form-control"></div>
    <div class="form-group"><label for="confirm" class="col-form-label font-weight-bold">Confirm Password</label><input type="password" name="confirm" id="confirm" placeholder="Confirm password" required class="form-control"></div>
    <div class="form-group"><button type="submit" class="btn btn-primary btn-reset"><i class="fa fa-keyboard-o"></i>Change Password</button></div>
  </form>
</div>