<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }} - UserScope</title>
  <meta name="description"
    content="UserScope is an automated accessibility testing tool. Get valuable insights and track your site's accessibility over time.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" content="{{ _csrf }}">

  <link rel="shortcut icon" href="/images/favicon.png">

  <link rel="stylesheet" href="/css/bootstrap-4.3.1.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
  <style>
    body {
      background-color: hsl(192, 17%, 95%);
      font: 300 18px/1.2 "Lato", sans-serif;
    }
  </style>
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  {{> header }}

  <div class="container pt-3 pl-sm-0 pr-sm-0 pl-lg-3 pr-lg-3">
    {{> flash }}
    {{{ body }}}
  </div>

  {{> footer }}

  <script src="/js/lib/jquery-3.3.1.slim.min.js"></script>
  <script src="/js/lib/bootstrap-4.3.1.min.js"></script>
  <script src="/js/lib/Chart-2.8.0.bundle.min.js"></script>
  <script src="/js/main.js"></script>
  <script>
    const canvas = document.getElementById("sample-chart")
    const ctx = canvas.getContext("2d")

    Chart.defaults.global.defaultFontFamily = "Lato, sans-serif"
    Chart.defaults.global.defaultFontStyle = "bold"
    Chart.defaults.global.defaultFontSize = 15

    const daysAgo = (days) => {
      const d = new Date((new Date() - 1000 * 60 * 60 * 24 * days))

      return [d.getDate(), d.getDay()].join(" ")
    }

    const config = {
      type: "line",
      data: {
        labels: [daysAgo(7), daysAgo(6), daysAgo(5), daysAgo(4), daysAgo(3), daysAgo(2), daysAgo(1)],
        datasets: [
          {
            backgroundColor: "#f5793a",
            borderColor: "#f5793a",
            label: "UserScope Score",
            fill: false,
            data: [65, 66, 59, 75, 79, 79, 80]
          },
          {
            backgroundColor: "#a95aa1",
            borderColor: "#a95aa1",
            label: "Accessibility Issues",
            fill: false,
            data: [18, 18, 20, 13, 12, 12, 9]
          }
        ]
      },
      options: {
        layout: {
          padding: {
            right: 8
          }
        },
        legend: {
          align: "center",
          position: "bottom",
          labels: {
            boxWidth: 18
          }
        },
        scales: {
          xAxes: [{
            display: false
          }],
          yAxes: [{
            ticks: {
              beginAtZero: true,
              suggestedMax: 90,
              maxTicksLimit: 8
            }
          }]
        }
      }
    }

    const sampleChart = new Chart(ctx, config)
  </script>
</body>
