<h1>A11y Report</h1>
<p class="lead">Generate accessibility reports on the web.</p>
<hr />

<div class="row justify-content-sm-center">
  <div class="col-md-8">
    <form action="/action/test" method="POST">
      <div class="input-group mb-3">
        <input type="text" name="url" placeholder="Enter a URL to generate a report" aria-label="URL to test"
          aria-describedby="generate-report-btn" class="form-control" />
        <div class="input-group-append">
          <button type="submit" id="generate-report-btn" class="btn btn-primary">Generate Report</button>
        </div>
      </div>
    </form>
  </div>
</div>
