extends layout

block content
  h1 A11y Report
  p.lead Generate accessibility reports on the web.
  hr
  .row.justify-content-sm-center
    .col-md-8
      form(action="/action/test", method="POST")
        .input-group.mb-3
          input.form-control(type="text" name="url" placeholder="Enter a URL to generate a report" aria-label="URL to test" aria-describedby="generate-report-btn")
          .input-group-append
            button.btn.btn-primary(type="submit" id="generate-report-btn") Generate Report
