<div class="row my-4">
  <div class="col-md-6 py-lg-4 mx-auto">
    <h2 class="display-4">Deliver great user experiences that anyone can enjoy</h2>
    <p class="lead">Monitor your web site accessibility over time and get actionable insights.</p>
  </div>
  <div class="col-md-6 py-lg-4 mt-4">
    <canvas id="sample-chart"></canvas>
  </div>
</div>

<div class="row justify-content-sm-center">
  <div class="col-md-8">
    <h3 class="my-3">Get a free accessibility report now</h3>

    <form action="/test/run" method="POST">
      <div class="input-group mb-3">
        <input type="text" name="url" placeholder="Enter a URL to generate a report" aria-label="URL to test"
          aria-describedby="generate-report-btn" class="form-control" />
        <div class="input-group-append">
          <button type="submit" id="generate-report-btn" class="btn btn-primary">Generate Report</button>
        </div>
      </div>
    </form>
  </div>
</div>
